



.container_text{
	height: 100%;
	margin: 0 3rem;
	display: flex;
	justify-content: center;
}

.div_txt1{
	width: 50rem;
	height: 100%;
	font-size: 2em;
}

.div_txt2{
	width: 50rem;
	height: 100%;
	font-size: 2em;
}

.h2_context_title1{
	color: var(--subtitle_primary);
	text-align: center;
	margin: 2rem 0rem;
}

h2{
	font-family: 'Hedvig Letters Serif', sans-serif;
}

p{
	font-family: 'Hedvig Letters Serif', sans-serif;
}

.text1{
	margin: 0 3rem;
	font-size: 20px;
}

.img{
	margin: 0 5rem;
}

h3{
	font-family: 'Hedvig Letters Serif', sans-serif;
	color: var(--subtitle_primary);
	text-align: center;
}

.poem{
	font-size: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.h2_context_obras{
	color: var(--subtitle_primary);
	text-align: center;
	margin: 2rem 0rem;
}



