.h1_primary h1{
	font-family: 'Hedvig Letters Serif', sans-serif;
	color: var(--title_primary);
	font-size: 100px;
}
.container_h1{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.subtitle_primary h2{
	color: var(--subtitle_primary);
	margin: 0 5rem;
}

.container_subtitle{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.line {
	height: 10px;
	width: 25rem;
	background-color: var(--title_primary);
	border-radius: 10px;
}

