

body{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.container_text{
	height: 100%;
	margin: 0 3rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.div_txt1{
	width: 50rem;
	height: 100%;
	font-size: 2em;
}

.div_txt2{
	width: 50rem;
	height: 100%;
	font-size: 2em;
}

.h2_context_title1{
	color: var(--subtitle_primary);
	text-align: center;
	margin: 2rem 0rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.h2_context_title_video{
	color: var(--subtitle_primary);
	text-align: center;
	margin: 2rem 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h2{
	font-family: 'Hedvig Letters Serif', sans-serif;
}

p{
	font-family: 'Hedvig Letters Serif', sans-serif;
}

.text1{
	margin: 0 3rem;
	font-size: 20px;
}

.img{
	margin: 0 5rem;
}

h3{
	font-family: 'Hedvig Letters Serif', sans-serif;
	color: var(--subtitle_primary);
	text-align: center;
}

.poem{
	font-size: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.h2_context_obras{
	color: var(--subtitle_primary);
	text-align: center;
	margin: 2rem 0rem;
}


@media (max-width:1143px){
	.line{
		width: 200px;
	}
}

@media (max-width: 918px){
	.h1_primary h1{
		font-size: 90px;
	}
}





