* {
	text-decoration: none;
	list-style: none;
	margin: 0;
	border: 0;
	padding: 0;
	outline: none;
	font-family: 'Poppins', sans-serif;
}

body{
	background-image: url('../images.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
}

:root{
	--title_primary: #4474BC;
	--subtitle_primary: #363062; 
}
